{% extends "base_index.html" %}

{% load i18n %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block main %}
	<p>Wembley Central Mosque is located in Brent, It was initially was a church and converted to Mosque, Our vision is to provide a range of holistic, culturally sensitive services for the communities of London, drawing on 		our Islamic values and heritage, with a view to improving quality of life and enhancing community cohesion. <br /></p>
<h3>    Our aims are to:</h3>
  <ul>
    <li><p>Focus on the needs of the diverse Muslim community whilst ensuring services are open to all.</p></li>
	<li><p>Meet the needs of the local community by promoting health, education and employment opportunities.</p></li>
	<li><p>Provide Muslims and non-Muslims with the opportunity to learn and understand Islam, through dialogue, discussion and social interaction.</p></li>
	<li><p>Contribute to the social, cultural, spiritual and economic enhancement of the whole community, through policy and strategy development and service.</p></li>
  </ul>
    
    <h3>Serving the Community, Working in Partnership</h3>
    
   <p> The East London Mosque & London Muslim Centre is in the heart of Tower Hamlets, a diverse borough with a rich history, and home to the UK's largest Muslim community. It is our belief that our primary concern should be to serve the needs of the local community and to work towards the common good. In recent years there have been noticeable improvements in Tower Hamlets in education, health provision, environment, and community cohesion. Our partnerships with Tower Hamlets Council, the local Primary Care Trust, The East London Communities Organisation (TELCO), Tower Hamlets Interfaith Forum, the Metropolitan Police and many others have helped us to contribute towards these improvements. This builds on the very foundation of the mosque: a coming together of distinguished Muslims and non-Muslims to create London's first mosque.</p>


              			
                      {% endblock %}
 <div class="content1">
 <h3>News &amp; Events</h3>
							<img src="{{ MEDIA_URL }}images/thumb1.jpg" />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem has been the industry's standard dummy text ever.<br /><br />
							<img src="{{ MEDIA_URL }}images/thumb2.jpg" />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem has been the industry's standard dummy text ever.<br /><br />
							<img src="{{ MEDIA_URL }}images/thumb3.jpg" />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem has been the industry's standard dummy text ever.<br /><br />
						</div>