{% load pages_tags mezzanine_tags %}
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    <title>{% block meta_title %}{% endblock %} &mdash; Central Mosque Wembley</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" 
        href="{% url blog_post_feed "rss" %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom"  
        href="{% url blog_post_feed "atom" %}" />

    <!-- 960 Grid System -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960/960.css" type="text/css" />
    <!-- Reset (from 960.gs) -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960/reset.css" type="text/css" />

    <!-- Write your customer css rules here. -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}{% endblock %}" class="main">
<center>

    <div class="topBanner"><img src="{{ MEDIA_URL }}images/top.jpg"/><img src="{{ MEDIA_URL }}images/step.gif" style="position:absolute; margin-top:177px; margin-left:-220px; "  alt="" /><img src="{{ MEDIA_URL }}images/top-right.png" class="pngimg" style="position:absolute; z-index:8; margin-left:-342px; margin-top:-25px;" width="337" height="202" alt="" />
     </div>
<div class="shade">
            <div class="div990">
<div  class="top-nav">{% primary_menu %}</div>
<div class="container">
    <div class="col-l">
         <div class="btm-shade">
    		 <p><img src="{{ MEDIA_URL }}images/fatwas.gif" /></p>{% tree_menu %}
	    </div>
        <div>
                            <ul class="donation">
                                <li><a href="#">Mosque Extension<br />Project<br /><br /></a></li>
                            </ul>
                        </div>
   </div>
    <div class="col-c">
       
            <h1 class="welcome">{% block title %}{% endblock %}</h1>           
          <!--  <div id="breadcrumb-menu">
                {% block breadcrumb_menu %}{% breadcrumb_menu %}{% endblock %}
            </div> -->
             <div class="boxtop"></div>
            <div class="content">
            {% block main %}{% endblock %}
            </div>
              <div style="background:url({{MEDIA_URL}}images/shade.gif) repeat-x bottom;  height:15px; overflow:hidden;  width:422px"></div>
  
    </div>

    <div class="col-r">
     
                        <div class="btm-shade">
                            <p><img src="{{MEDIA_URL}}images/prayer.gif" /></p>
                            <ul class="prayer">
                                <li><span></span><b><strong>Begins</strong></b><em><strong>Jama'ah</strong></em></li>
                                <li><span>Fajr</span><b>5:57</b><em>5:57</em></li>
                                <li><span>Zuhr</span><b>12:17</b><em>5:57</em></li>
                                <li><span>Asr 1</span><b>2:28</b><em>5:57</em></li>
                                <li><span>Asr 2</span><b>3:04</b><em>5:57</em></li>
                                <li><span>Maghrib</span><b>4:55</b><em>5:57</em></li>
                                <li><span>Isha</span><b>6:19</b><em>5:57</em></li>
                                <li class="prayer-full"><a href="#" >» View Full Timetable</a></li>
                            </ul>
                        </div>
                        <div class="btm-shade">
                             <ul class="library">
                                <li><a href="#">» Articles</a></li>
                                <li><a href="#">» Audio</a></li>
                                <li><a href="#">» Videos</a></li>
								<li><a href="#">» Books</a></li>
                            </ul>
                        </div>
                       <div class="madresa"><a href="#">madresa</a></div>
                        <div class="photogallery"> <a href="#">» Photogallery</a> </div>
						 
                 
                </div>

  <div class="footer"><a href="#">Home</a> | <a href="history.html">History</a> | <a href="#">Services</a> | <a href="#">Madarsa</a> | <a href="audio.html">Audio Library</a> | <a href="#">Events</a> | <a href="#">Donation</a> | <a href="contactus.html">Contact Us</a><br />
                    © Copyright Central Mosque Wembley, 2010. All Rights Reserved.</div>
            </div>
</div> <!-- end of div 990 div -->
</div> <!-- End of shade div -->
{% editable_loader %}

{% load_settings GOOGLE_ANALYTICS_ID %}
{% if GOOGLE_ANALYTICS_ID %}
<script> 
var _gaq = [['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}'], ['_trackPageview']];
(function(d, t) {
var g = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
g.async = true;
g.src = '//www.google-analytics.com/ga.js';
s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>
{% endif %}
</center>
</body>
</html>

